/* レイアウト */
/* コメントアウト */

body{}

header{
	width: 915px;
	padding-top: 100px;
	margin-bottom: 10px;
	background-color: #ffe080;
	background-image: url("../images/header.JPG");
}

iframe.side{
	float:left;
	width:240px;
	height: 600px;
	padding: 0;
	margin-right: 10px;
	border: solid;
}

#side{
	width:240px;
	margin: 0px;
	padding: 0px;
}

main{
	float:left;
	width: 655px;
	padding: 20px 0 450px 0;
	border: solid;
}

main p,h2{
	margin: 0px 0px 0px 10px;
}

footer{
	clear: left;
	width: 915px;
	padding: 20px 0 40px 0;
}

footer p{
	margin: 0;
}

#footer{
	background-color: #E6E6E6;
	text-align: center;
}

.twitter-box{
	height: 400px;
	border-top: 1px solid;
}

/* --- ボックス --- */
div.section {
width: 600px; /* ボックスの幅 */
margin-left: 10px;
margin-bottom: 10px;
background-color: #ffffff; /* ボックスの背景色 */
border: 1px #c0c0c0 solid; /* ボックスの境界線 */
font-size: 80%; /* ボックスの文字サイズ */
}

/* --- 見出し --- */
div.section h3 {
margin: 0; /* 見出しのマージン */
padding: 5px 10px; /* 見出しのパディング（上下、左右） */
background-color: #f5f5f5; /* 見出しの背景色 */
border-bottom: 1px #c0c0c0 dotted; /* 見出しの下境界線 */
font-size: 100%; /* 見出しの文字サイズ */
}

/* --- 本文領域 --- */
div.section div.textArea {
height: 120px; /* 本文領域の高さ */
overflow: auto;
}

div.textArea ul{
	padding-left: 25px;
}

div.textArea ul li{
	padding-bottom: 5px;
}

/* --- 本文領域内の段落 --- */
div.section div.textArea p {
margin: 1em 10px; /* 段落のマージン（上下、左右） */
}

h1{
	margin: 0px;
	padding-left: 10px;
	background-color: rgba(0,255,255,0.5);
}
